#myVideo{
    position: fixed;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: absolute;
    top: 50%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensures content is visible above the video */
    color: white; /* Ensures text is visible on typical dark video backgrounds */
    text-align: left;
    width: 100%; /* Ensures full width within the video background */
    padding-left: 150px;
}
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
  }